*{
    padding: 0;
    margin: 0;
}
#game{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    background: linear-gradient(-60deg, rgba(118, 230, 118, 0.61), rgba(95, 95, 247, 0.616), rgba(247, 111, 247, 0.616));
}
#block{
    width: 50px;
    height: 500px;
    background-color: black;
    position: relative;
    left: 400px;
    animation: block 2s infinite linear;
}
@keyframes block{
    0%{left:400px}
    100%{left:-50px}
}
#hole{
    width: 50px;
    height: 150px;
    background-color: rgba(75, 172, 118, 0.808);
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 2s infinite linear;
}
#character{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 100px;
    border-radius: 50%;
}
.score{
    height: 60px;
    width: 90px;
    border: 4px solid red;
    display: flex;
 }
.HighScore{
    height: 60px;
    width: 90px;
    border: 4px solid red;
    display: flex;
    position: relative;
    top: 500px;
}
.up{
transform: rotate(-30deg);
}
.down{
    transform: rotate(30deg);
}